.carousel {
	width: 650px;
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;
	height: 740px;*/
}
.carousel > ul > li {
	list-style: none;
}
.carousel .item {
	display: block;
	position: absolute;
	width: 350px;
	height: 510px;
	/*background: url('http://placehold.it/350x250') top left no-repeat;*/
	background-size: 100%;
	/*border: 1px solid red;*/
	vertical-align: middle;
	line-height: 150px;
	/*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	-o-transform: scale(0.3);
	transform: scale(0.3);
	/*opacity: .5;*/
}
.carousel .item.active {
	/*opacity: 1;*/
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.carousel .item.transition {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.controls {
	top: 510px;
	width: 150px;
	z-index: 5000;
}
.controls a {display: block; cursor: pointer;}
.controls .previous {float: left;}
.controls .next {float: right;}