@media screen and (max-width: 768px) {
	#logo, #desktop-nav-wrapper {
		display: none;
		visibility: hidden;
	}
	.content {
		margin-left: 0;
	}
	#logo-sm {
		width: 128px;
		height: 130px;
		left: 23px;
	}
}
@media screen and (max-height: 600px) {
	.section {
		min-height: 680px !important;
	}
}