@font-face {
	font-family: 'melbourne light';
	src: url('../fonts/melbourne-light.eot');
	src: url('../fonts/melbourne-light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/melbourne-light.woff2') format('woff2'),
		url('../fonts/melbourne-light.woff') format('woff'),
		url('../fonts/melbourne-light.ttf') format('truetype'),
		url('../fonts/melbourne-light.svg#melbournelight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'melbourne regular';
	src: url('../fonts/melbourne-regular.eot');
	src: url('../fonts/melbourne-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/melbourne-regular.woff2') format('woff2'),
		url('../fonts/melbourne-regular.woff') format('woff'),
		url('../fonts/melbourne-regular.ttf') format('truetype'),
		url('../fonts/melbourne-regular.svg#melbourneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'melbourne bold';
	src: url('../fonts/melbourne-bold.eot');
	src: url('../fonts/melbourne-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/melbourne-bold.woff2') format('woff2'),
		url('../fonts/melbourne-bold.woff') format('woff'),
		url('../fonts/melbourne-bold.ttf') format('truetype'),
		url('../fonts/melbourne-bold.svg#melbournebold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
		  url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
		  url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
		  url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
		  url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}